@tailwind base;
@tailwind components;
@tailwind utilities; 

.wrap-input-8 {
    width: 80%;
    margin: 40px 3%;
    position: relative;
  }
  
  .input {
    width: calc(100% - 30px); /* Adjust width to accommodate button */
    box-sizing: border-box;
    letter-spacing: 1px;
    background-color: #f5f6fd;
    border: 1px solid #ccc;
    padding: 7px 14px 9px;
    transition: 0.4s;
    position: absolute;
    bottom: 0; /* Position at the bottom */
    left: 0;
    border-radius: 5px 5px 0 0; /* Rounded corners except at the bottom */
  }
  
  .btn {
    position: absolute;
    bottom: 5px; /* Adjust position */
    right: 5px; /* Adjust position */
    width: 20px; /* Adjust button size */
    height: 20px; /* Adjust button size */
    border-radius: 50%; /* Make the button circular */
    background-color: #6c5dd3;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .focus-border:before,
  .focus-border:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #6c5dd3;
    transition: 0.3s;
  }
  
  .focus-border:after {
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
  }
  
  .focus-border i:before,
  .focus-border i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
    background-color: #6c5dd3;
    transition: 0.4s;
  }
  
  .input:focus ~ .focus-border:before,
  .input:focus ~ .focus-border:after {
    width: 100%;
    transition: 0.3s;
  }
  
  .input:focus ~ .focus-border i:before,
  .input:focus ~ .focus-border i:after {
    height: 100%;
    transition: 0.4s;
  }
  